<% include ../partials/header %>

    <span style="font-size:20px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>

    <div class="my-3 p-3 bg-white rounded box-shadow">
        <div id="results"></div>
    </div>
        <div id ="loadEmergemcies"> Current emergencies: </div>
    </div>
   
    </div>
    </div>
    </div>
    </main>
    <% include ../partials/footer %>
    <script>
         loadEmergencies();
    </script>