<% include ../partials/header %>


    <span style="font-size:20px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>

    <div class="my-3 p-3 bg-white rounded box-shadow">
        <div id="results"></div>
    </div>

    <!-- form to post messages -->
    <div id="chatprivately">
        <div class="container">
            <div class="my-3 p-3 bg-white rounded box-shadow">
                <div id="NewGroupMessages"></div>
                <div id="showgroupmessages"></div>

            </div>

            <!--- This section will handle the broadcast-->
            <div class="row">
                <div class="col-md-12">
                    <form class="form-group" action="/messages/public" method="post">
                        <div class="form-group">
                            <input type="hidden" name="username" id="username" value="micheal" />
                            <textarea type="text" class="form-control" id="messageArea" name="content" rows="3" placeholder="Write Message"></textarea>
                            <div class="mx-auto" style="height:10px;"></div>
                            <div class="btn-panel">
                                <button type="button" class="btn btn-primary mb-2" id="postGroupMessage">
                                    <strong>Post Group Message</strong>
                                </button>
                            </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </main>


    <% include ../partials/footer %>
        <script>
            populateGroupMessages();
        </script>