<% include ../partials/header %>


    <span style="font-size:20px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>

    <div class="my-3 p-3 bg-white rounded box-shadow">
        <div style="align-self: center" id="results">All group Emergency Messages:</div>
    </div>
    <!-- form to post messages -->
    <div id="chatprivately">
        <div class="container">

            <div id="emergencymessagewall"></div>


        </div>
    </div>
    </div>
    </main>

    <% include ../partials/footer %>

        <script>
            populateGroupEmergencyMessage();
        </script>