<% include ../partials/header %>

    <div id="search">
        <nav class="navbar navbar-dark bg-dark justify-content-between">
            <input type="radio" name="check" value="status" id="status" /> Search by status
            <input type="radio" name="check" value="username" id="username">search by username
            <input type="radio" name="check" value="public" id="public_messages" /> Public Messages
            <input type="radio" name="check" value="private" id="private_messages" /> Private Messages
            <input type="radio" name="check" value="announcements" id="announcements" />Public Announcements
        </nav>
    </div>

    <span style="font-size:20px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>
    </div> form for donating </div>

    </div>
    </div>
    </div>
    </div>
    </main>
    <% include ../partials/footer %>
        <script>
            loadEmergencies();
        </script>