<% include ../partials/header %>


    <span style="font-size:20px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>

    <div class="my-3 p-3 bg-white rounded box-shadow">
        <div id="results"></div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-12">
                <!-- welcom message -->
                <div class="jumbotron">
                    <p class="lead">
                        <h4>Emergency Group Set Up Terms & Condition</h4>
                        <p>Your Emergency Group allows to set up a private group with your citizen friends to follow up on emergency cases mutually and collaboratively in case any citizen in the group post an emergency case or update his or her health status
                            to emergency</p>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>
                                        <button type="button" class="btn btn-primary mb-2 time-left" id="btn_enable">
                                   <strong>Enable</strong>
                    </button>

                                    </td>

                                </tr>

                            </tbody>
                        </table>
                </div>
            </div>


            </main>
            <!--for running faster js code its reccommende it is placed down here-->
            <% include ../partials/footer %>