<% include ../partials/header %>


    <span style="font-size:20px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>

    <div class="my-3 p-3 bg-white rounded box-shadow">
    </div>
    <div id="success"></div>
    <div>

        <p> You have successfully registered this emergency </p>
        <p> We thank you for your kind generosity </p>
        <p> May God bless you abondantly!!!! </p>
        <p> ESN Team, We beilive in helping each other </p>
        <p> Together we shall achieve more!!!!!!! </p>
        <div>

        </div>
    </div>
    </div>
    </div>
    </main>
    <% include ../partials/footer %>