<% include ../partials/header %>

    <!-- This is div for list of users -->

    <span style="font-size:20px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>
    <h6 class="border-bottom border-gray pb-2 mb-0">Citizens List:</h6>


    <div id="userlist1"></div>

    </main>
    <% include ../partials/footer %>

        <script>
            //userDirectoryList_Handler1();
        </script>